@import 'scss/partial/fonts';
@import 'scss/partial/typography';
@import 'scss/modules/var';



html {
  scroll-behavior: smooth !important;
 
}

body {
  overflow: overlay;
  position: relative;
  background-color: $white-bg;
  &::-webkit-scrollbar {
    width:  7px;
    max-height: 2px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    background: $yellow;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

button, a {
  cursor: pointer;
}