@font-face {
	font-family: 'FjallaOne';
	src: url('../../fonts/FjallaOne-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'CoveredByYourGrace';
	src: url('../../fonts/CoveredByYourGrace-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'CascadiaCode';
	src: url('../../fonts/CascadiaCode.ttf') format('truetype');
}