@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

.container-albums {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.title {
  margin: 2rem 0 !important;
}


.album {
  background-color: $white;
  min-height: 340px;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: bold;
  box-shadow: 0 10px 30px rgba(80,71,65,.2);

  p, a {
    text-decoration: none;
    color: $green;
    font-weight: bold;
  }

  a:hover {
    color: $green-2;
  }
}

.artists {
  display: flex;
  gap: 16px;

  p {
    font-size: 12px;
    color: gray;
    &::after {
      content: ',';
    }
    &:last-child {
      &::after {
        content: '.';
      }
    }
  }
}

